


<div class="container">
  <div class="row-banner">
    <div class="col-lg-9 col-md-9 col-sm-8">
            <div class="card-panel  blue-grey darken-4">
                <div class="text-center">
                  <h1>Video Editing Training and Tutorials</h1>
                  <h1>Real Life Senarios</h1>
                  <p>From reality show editing to award show editing, our video editing tutorials will help you make a movie, short film, or documentary. Learn the art of video editing from our expert instructors using popular video editing software like, Final Cut Pro X, Premiere Pro, and after effects.</p>
                </div>
            </div>
        </div>
      </div>
     </div>



<br>
        <div class="row pro-projects">
        <div class="col-lg-12">
            <h4>Featured Project</h4>
        </div>
        
      </div>
    

<div class="row" data-no-turbolink>
<br/>
  
  
  <% @projects.each do |project| %>
    <%= link_to project do %>
      <div class="col s12 m6 l4">
          <div class="card">
          
          <div class="card-image waves-effect waves-block waves-ligh">
            <%= image_tag project.image %>
          </div>
          
          <div class="card-content" style="height: 6em">
            <span class="card-title grey-text text-darken-4">
              <%= project.shortname %>
            </span>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>

</div>

